.analytics {
  height: 100vh;
}

.analytics__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
}

.analytics__title {
  font-size: var(--fs-xxx-lg);
  font-weight: var(--fw-lg);
}

.customer__table {
  width: 100%;
}

.customer__sort {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 0.5fr 0.5fr 0.25fr;
  margin-left: 20px;
  margin-bottom: 14px;
}

.customer__item {
  position: relative;
}

.empty__message {
  color: var(--cl-dark-blue);
  text-align: center;
  font-size: var(--fs-xxx-lg);
  font-weight: var(--fw-lg);
}
