.form__input {
  display: flex;
  flex-direction: column;
  width: 520px;
  margin-bottom: 14px;
}

.input__field {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid var(--cl-gray);
}

.input__label {
  font-size: var(--fs-sm);
  color: var(--cl-secondary);
  font-weight: var(--fw-lg);
  margin-bottom: 10px;
}

.error__message {
  font-size: var(--fs-xx-sm);
  margin: 3px;
  color: var(--cl-error);
  display: none;
}

.input__field:invalid[focused='true'] {
  border: 1px solid var(--cl-error);
}

.input__field:invalid[focused='true'] ~ .error__message {
  display: inline;
}
